         {% if app.user %}


            <nav class="navbar navbar-expand-lg navbar-dark text-bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/">
                    <i class="fas fa-home"></i>
                    CRUD
                    </a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
              

                          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                            <a class="nav-link" href="/countries">Country</a>
                            </li>
                           {% if is_granted('ROLE_ADMIN') %} 
                              <li class="nav-item">
                            <a class="nav-link" href="/user">Users</a>
                            </li>
                            {% endif %}
                        </ul>
                    
                
                    </div>
                    <div>
                        <p class="text-white mb-0">
                          Hello 👋 {{ app.user.getName() }}, you are logged in!
                          <a href="{{ path('app_logout') }}" class="text-white">
                           <i class="fas fa-sign-out-alt"></i></a>
                        </p>
                          
                        
        
                    </div>
                </div>
            </nav>
        {% endif %}