{% extends 'base.html.twig' %}



{% block body %}

<div class="container">

    <div class="row justify-content-center align-items-center vh-100">
     
     <div class="col-8">

           <h4 class="text-center text-white">Registration form</h4>

   {% for message in app.flashes('success') %}

            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
     
     {{ form(form) }}

            <div class="form-group text-white">
                                    <p class"text-white">Do you have user? please 
                                    <a href="/login" >Login</a> !
                                    </p>
                         
                             </div>
     </div>
           
     </div>
</div>
{% endblock %}
