{% extends 'base.html.twig' %}

{% block title %}Demo{% endblock %}

{% block body %}
<style>
 
</style>

<div class="body-wrapper">
    <div id="liveAlertPlaceholder2"></div>

<div> <!-- Loading Table -->
{{ include('_partials/_table_user.html.twig') }}
</div>

</div>
{% endblock %}
